<mat-card>
  <mat-card-title>Create User</mat-card-title>
  <ng-container *ngIf="route$ | async">
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="User name" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Surnames</mat-label>
          <input
            matInput
            formControlName="surnames"
            placeholder="User surnames"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Age</mat-label>
          <input type="number" matInput formControlName="age" />
        </mat-form-field>
        <button mat-stroked-button color="warn" type="button">Cancel</button>
        <button
          mat-stroked-button
          color="primary"
          type="submit"
          [disabled]="form.invalid"
        >
          Create
        </button>
      </form>
    </mat-card-content>
  </ng-container>
</mat-card>
